In [1]:
import pandas as pd
import numpy as np

In [2]:
a1=pd.Series([2,4,np.nan, 7,2, np.nan])
a1

0    2.0
1    4.0
2    NaN
3    7.0
4    2.0
5    NaN
dtype: float64

In [3]:
a1 >= 3

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [4]:
a1 == np.nan  # 인식 안됨

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [5]:
a1.isna() # 결측치는 .isna()/.isnull()로 가능

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool